label {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 18px;
color: #333;
height: 20px;
width: 200px;
margin-top: 10px;
margin-left: 10px;
text-align: right;
clear: both;
}

input {
height: 20px;
width: 300px;
border: 1px solid #000;
margin-top: 10px;
float: left;
}